.main{
  background: #faf9f9;
  background: linear-gradient(to right, #ffffff, #cee1fd);
  padding: 200px 0;
}

.main_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin:0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.main_heading{
  font-size: 100px;
  margin-bottom: 24px;
  color: rgb(0, 0, 0);
}


.main_heading span{
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  background-size: 100%;

  -webkit-background-clip: text; /*Deixar a cor do Backgroud na letra*/
   -moz-background-clip: text; /*Utilizamos este para ficar a mesma coisa no Mozila Firefox*/
   
   -webkit-text-fill-color: transparent; /*Retirar o azulzin do link*/
   -moz-text-fill-color: transparent;/*Utilizamos este para ficar a mesma coisa no Mozila Firefox*/

}

.main_description{
  font-size: 60px;

  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  -webkit-background-clip: text; /*Deixar a cor do Backgroud na letra*/
  -moz-background-clip: text; /*Utilizamos este para ficar a mesma coisa no Mozila Firefox*/
  
  -webkit-text-fill-color: transparent; /*Retirar o azulzin do link*/
  -moz-text-fill-color: transparent;/*Utilizamos este para ficar a mesma coisa no Mozila Firefox*/


}

.highlight{
  border-bottom: 4px solid rgb(212, 0, 255);
}

@media screen and (max-width: 786px){
  .main_heading{
    font-size: 40px;
  }
  .main_description{
    font-size: 30px;
  }
}

