.footer_container{
  background: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer_logo{
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;

}

.footer_links{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;

}

.footer_link--wrapper{
  display: flex;
}
.footer_links--items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer_links--items h2{
 margin-bottom: 16px;
 color: #fff;
}

.footer_links--items a{
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer_links--items a:hover{
  color: #e9e9e9;
  transition: 0.3 ease-out;
}

.social_icon--link{
  color: #fff;
  font-size: 24px;

}

.social_media{
  max-width: 1000px;
  width: 100%;
}
.social_media--wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social_icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website_rights{
  color: #fff;

}

@media screen and (max-width: 820px){
  .footer_links{
    padding-top: 2rem;
  }
  #footer_logo{
    margin-bottom: 2rem;
  }
  .website_rights{
    margin-bottom: 2rem;
  }
  .footer_link--wrapper{
    flex-direction: column;
  }

  .social_media--wrapper{
    flex-direction: column;
  }
  
}

@media screen and (max-width: 480px){
  .footer_links{
    margin: 0;
    padding: 10px;
    width: 100%;
  }
  #footer_logo{
    margin-bottom: 2rem;
  }
  .website_rights{
    margin-bottom: 2rem;
  }
  .footer_link--wrapper{
    flex-direction: column;
  }

  .social_media--wrapper{
    flex-direction: column;
  }
  
}